.about-us-container {
  padding: 40px;
  background-color: white;
  border-radius: 15px;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-us-heading {
  color: #364a37;
  margin-bottom: 20px;
  font-size: 2rem;
}

p.about-us-description {
  font-size: 1.1rem !important;
  line-height: 1.2 !important;
  color: #5f7569 !important;
  font-weight: 400;
  
}

.about-us-features {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  gap: 20px;
}

.feature-card {
  flex: 1;
  padding: 15px;
  background: #fafafa;
  border-radius: 10px;
  border: #e3e6e3 solid 2px;
}

.feature-card h3 {
  color: black;
  font-size: 1.3rem;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 2px solid rgb(246, 241, 241);
}

.feature-card p{
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.2;
    color: #5f7569;
}

.about-us-mission {
  margin-top: 30px;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  color: #133b15;
}
